<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BBC News Scrape</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!-- Optional theme -->

		<link rel="stylesheet" href="/assets/css/scrape.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}

	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/scrapeHtml.js"></script>
	</body>
</html>